<div class="advancedSearchFrom">
  <p>Advanced Search Form</p>
    <%= form_tag(movies_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search by Movies or Directors" %>
  <br>

    <%= select_tag(:duration, options_for_select([["Select Duration of Movie.", 0], ["Under 90 minutes", 90], ["Between 90 and 120 minutes", 90120], ["Over 120 minutes", 120]])) %>
    <%= submit_tag "Search", name: nil %>
    <% end %>
  <br>
</div>
<%= link_to "Submit a movie!", new_movie_path %> 
<hr>
<% if @movies %>
  <% @movies.each do |movie| %>
    <%= image_tag movie.image_url(:thumb) if movie.image? %>
    <h2><%= link_to movie.title, movie_path(movie) %></h2>
    <h3><%= movie.release_date %></h3>
    <h4>Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</h4>
    <p><%= movie.description %></p>
    <%= movie.review_average %>
    <hr>
  <% end %>
<% end %>

