 <div class="logindiv"> 
  <h1 class="textForm">Sign Up</h1>
  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <div class="loginBox">
        <%= pluralize(@user.errors.count, "error") %> prevented the account from being created:
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="loginBox">
      <p class="textForm">Email</p>
      <%= f.text_field "email" %>
    </div>
    <div class="loginBox">
      <p class="textForm">Firstname</p>
      <%= f.text_field "firstname" %>
    </div>
    <div class="loginBox">
      <p class="textForm">Lastname</p>
      <%= f.text_field "lastname" %>
    </div>
    <div class="loginBox">
      <p class="textForm">password</p>
      <%= f.password_field "password" %>
    </div>
    <div class="loginBox">
      <p class="textForm">password confirmation</p>
      <%= f.password_field "password_confirmation" %>
    </div>
    <div class="loginBox"><%= f.submit "Submit" %></div>
  <% end %>
</div>  